/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

/* ------------ Welcome page, Login, Registration -------------- */
.welcome{
  background:url('./images/background.jpg');
  background-size:cover;
  background-attachment: fixed;
  color:  white;
  height: 100vh;
  text-align: center;
  background-color: #E9C891;
}


.companyName{
  border-top-color: white;
  border-top-style:  solid;
  border-bottom-color: white;
  border-bottom-style:  solid;
  font-weight: bold;
  font-size: 5rem;
}

.loginMargin{
  margin-left: 10rem;
}

.loginRow{
  height: 80%;
}

.loginLabel{
  border-top-color: white;
  border-top-style:  solid;
  border-bottom-color: white;
  border-bottom-style:  solid;
  /*margin-bottom:  2rem;*/
  font-weight:bold;
}

.login{
  background: none;
  font-weight: bold;
  color: white!important;
  border-width: 2.5px;
  border-color:  white;
}

.loginFailed{
  border-color:  red;
  color:  red;
}

.loginFailed:hover::placeholder{
  color: lightgray!important;
}

.login:focus{
  box-shadow: none;
  border-color: #E9C891;
  color: black!important;
}

.login:hover{
  background: ghostwhite;
  border-color: #E9C891;
  color: dimgray!important;
}

.login:hover::placeholder{
  color: lightgray;
}

.login:blur{
  color: lightgray;
}

.login:active{
  color: black!important;
}

.login::placeholder{
  color: white;
}

.logo{
  border-top-color: white;
  border-top-style:  solid;
  border-bottom-color: white;
  border-bottom-style:  solid;
  font-weight: bold;
  color:  white!important;
  font-size: 14px;
}

#loginLink{
  color: #E9C891;
  font-weight: bold;
}

.mainButton{
  font-weight:  bold;
}

.loading{
  font-size: 1.5rem;
}

.loading2{
  font-size: 1.5rem;
  color: #C36A2D;
  text-align:  center;
}

/* ------------- Navigation Bar ------------------- */
#basic-navbar-nav{
  display: flex;
  justify-contend: flex-end!important;
}

.navbar{
  background-color: #711A75;
  color: #E9C891;
  justify-content: flex-end!important;
}

.navText{
  color: #black!important;
}

.navText:hover{
  color: white!important;
}

#basic-nav-dropdown + .dropdown-menu{
  background-color: #A2B38B;
}

#basic-nav-dropdown + .dropdown-menu .dropdown-item:hover{
  background-color: #CE49BF;
}

.navbarImg{
  width: 25px;
}

.navbarImg:hover{
  opacity: 50%;

}

.navbarImg2{
  width: 50px;
}

.navbarImg2:hover{
  opacity: 50%;
}

.navbar-light .navbar-nav .nav-link{
  color: black!important;
}
/* ------------- Product Card ---------------------- */
.productCard{
  background:  rgba(0, 0, 0, 0.5);
  width: 25rem;
  height: 7.7rem;
  padding: 2%;
}

.productCard:hover{
  background: rgba(255, 255, 255, 0.5);
  color: black;
  text-decoration: none;
}

.productCard a:hover{
  text-decoration:  none;
  color: black;
}

.productText{
  color: white;
  font-weight: bold;
  text-align: left;
}

.productText:hover{
  color: black;
  font-weight: bold;
  text-align: left;
}
/*--------------Side Bar--------------------*/
.sideColumn{
  background-color: #46244C;
  /*background-color: rgba(226, 194, 117, 0.7);*/
  height: 100vh;
  margin-left: 0;
  font-family: 'Quicksand', sans-serif;
  /*opacity: 0.7;*/
/*  background-size:cover;
  background-attachment: fixed;*/
  position: sticky;
  top: 0;
  
}

.hrCustomization{
  height: 10px;
  color: white;
  border-color: white;
  border-top-style: solid;
  border-width:  3px;
}

.sideLink{
  color: #F7CCAC;
  /*font-weight: bold;*/
  font-size: 1.3rem;
}

.sideLink:hover{
  color: white;
}

/*---------- Image Sizes------------*/

.w-40{
  width: 40%!important;
}

.w-30{
  width: 30%!important;
}

/*---------- Product Page ----------*/

.productDescription{
    background:  rgba(0, 0, 0, 0.7);
    height: 80vh;
    text-align: left;
}


/* Animation */

.productAnimate{
  animation: fade-in-move-up 0.8s;
}

@keyframes fade-in-move-up{
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--------- Admin Page -------------*/
.adminPage{
    background:url('./images/background2.jpg');
    background-size:cover;
    background-attachment: fixed;
    color:  white;
    height: 100vh;
    text-align: center;
    background-color: #F190B7;
}

.blackOpaque{
  background:  rgba(0, 0, 0, 0.7)!important;
  color: white;
}

.whiteOpaque{
  background: rgba(255, 255, 255, 0.7)!important;
  color: black;
}

/* ------ Override existing css ------------ */
.fullWidth, .dropdown-toggle, .dropdown-menu{
  width: 100%;
}

.dropdown{
  width:  100%;
  padding: 0;  
}

/*.btn-block{
  border: 2px solid;
  border-radius: 5%;
}*/

.fluid{
  width: 100%;
  height: 100%;
}

.btn-primary{
  background-color: #F10086 ;
  color: #86C6F4;
  border-color: #F10086 ;
}

.btn-primary:hover{
  background-color: #FFC3C3 ;
  color: #363062  ;
  border-color: #FFC3C3 ;
}

.btn-primary:focus{
  background: #E2C275;
  border-color: #EADCA6;
}

.btn-primary:active{
  background: #FFC3C3;
  border-color: #EADCA6;
}

input #file-upload-button{
  font-weight:  bold;
  border-color: #C36A2D;
  border-type:  solid;
  border-width: 2px;
  background-color: #C36A2D;
  color: #E2C275;
}

/*--------- CART ------------*/

.cartQty{
  width: 13%;
}

.cartNumberField::-webkit-outer-spin-button,
.cartNumberField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

input[type=number] {
  -moz-appearance: textfield;
}

.login:disabled{
  color: darkgrey!important;
}

.cartFont{
  font-size: 16px;
}

.no-wrap{
  white-space: nowrap;
}

/* ---- Table Formatting ---- */
.tableBtn{
  background-color: #827397 ;
  color: #6FDFDF;
  border-color: #827397 ;
}

.tableBtn:hover{
  background-color: #FFA1A1 ;
  border-color: #FFA1A1 ;
  color: #5534A5  ;
}

.tableBtn:focus{
  background: #E2C275;
  border-color: #EADCA6;
}

.tableBtn:active{
  background: #E2C275;
  border-color: #EADCA6;
}

.tableBtn:disabled{
  background: #EADCA6;
  border-color: #EADCA6;
  color: #C36A2D;
}


td a{
  color: #C36A2D;
  font-weight: bold;
}

td a:hover{
  color: black;
  text-decoration: none;
}

.tableHeader{
  background: rgba(102, 102, 255, 0.7);
}

.tableBackground{
  background: rgba(234, 220, 166, 0.7);
}

.tableTotal{
  color: white;
}

.pagination{
  font-weight: bold;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.pages{
  background: #C36A2D;
  color: #E2C275;
}

.disabledPageLink{
  color: darkgrey;
}

/*----- New and Update Products -----------*/
.login2{
  background: none;
  font-weight: bold;
  color: #C36A2D!important;
  border-width: 2.5px;
  border-color:  #C36A2D;
}

.loginLabel2{
  border-top-color: #C36A2D;
  border-top-style:  solid;
  border-bottom-color: #C36A2D;
  border-bottom-style:  solid;
  /*margin-bottom:  2rem;*/
  font-weight:bold;
  color: #C36A2D;
}

.login2:focus{
  box-shadow: none;
  border-color: #E9C891;
  color: #E9C891!important;
}

.login2:hover{
  background: ghostwhite;
  border-color: #E9C891;
  color: #E2C275!important;
}

.login2:hover::placeholder{
  color: #EADCA6;
}

.login2:blur{
  color: #EADCA6;
}

.login2:active{
  color: #E9C891!important;
}

.login2::placeholder{
  color: #C36A2D!important;
}

#loginLink2{
  color: #E9C891;
  font-weight: bold;
}

.mainButton2{
  font-weight:  bold;
  border-color: #C36A2D;
  border-type:  solid;
  border-width: 2px;
  background-color: #C36A2D;
  color: #E2C275;
}

.mainButton2update{
  font-weight:  bold;
  border-color: #C36A2D;
  border-type:  solid;
  border-width: 2px;
  color: #C36A2D!important;
}

.mainButton2update:hover{
  border-color: #C36A2D;
  background-color: #C36A2D;
  color: #E2C275!important;
}

.dropdownBg{
  background: #C36A2D;
  color: #E2C275;
}

.igText{
  background: #C36A2D;
  color: #E2C275;
}

#prodDropdown{
  background-color: #C36A2D ;
  color: #EADCA6;
  border-color: #C36A2D ;

}

.prodDropdown:hover{
  background-color: #EADCA6 ;
  color: #C36A2D  ;
  border-color: #EADCA6 ;
}

.prodDropdown:active{
  background: #E2C275;
  border-color: #EADCA6;
}

#prodDropdown:active, #prodDropdown:focus{
  color:#E2C275!important ;
}

.dropdown-menu{
  padding: 0;
}

.uploadImg{
  /*width: 450px;*/
  height: 350px;
}

.uploadImg:hover{
  opacity: 70%;
}

.tableBackground h4{
  color: #C36A2D;
}

/*  ----- Fade Animation ------ */

.fadeInElements{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.fadeInText{
  color:  white;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*------- About Us ------------*/

.socMedLogo{
  width: 50px;
}

.otherPages{
  background: #FFFFFF;
  color: #00092C;
}

.aboutUs{
  border-top-color: #00092C;
  border-top-style:  solid;
  border-bottom-color: #00092C;
  border-bottom-style:  solid;
}
